#ggg{
    margin-bottom: 10px;
}


/* .gameHolder{
    border: 1px solid yellow;
    height: 20%;
    width: 20%;
} */


ul{
    list-style: none;
    text-align: center;
}

li{
    font-family:"Passion One",sans-serif;
    font-size: 20px;

}

.gametitle{
    color: #7300e6 !important ;
}




  
  
  
  