


/* image id for all images  */
    #ggg:last-of-type:hover{
        border: 5px solid #7300e6;
        cursor: pointer;
        border-radius: 10px;
     -webkit-box-shadow: 0px 0px 200px 0px #7300e6;
    -moz-box-shadow:    0px 0px 80px 0px #7300e6;
    box-shadow:         0px 0px 80px 0px #7300e6;
    }

    #ggg2:last-of-type:hover{
        /* border: 5px solid #7300e6; */
        /* -webkit-border-radius: 50px;
        -moz-border-radius: 10px; */
        border-radius: 10px;
     -webkit-box-shadow: 0px 0px 200px 0px #7300e6;
    -moz-box-shadow:    0px 0px 80px 0px #7300e6;
    box-shadow:         0px 0px 80px 0px #7300e6;
    }





ul{
    list-style: none;
    text-align: center;
}

/* li{
    font-family:"Passion One",sans-serif;
    font-size: 20px;
    margin-right: 7%;

} */

.gametitle{
    color: #7300e6 !important ;
    font-family:"Passion One",sans-serif;
    font-size: 125%	;

}

/* title under game when you search something */
.gametitle2{
    color:white!important ;
    font-family:"Passion One",sans-serif;
    font-size: 175%	;
    margin-top: 50% !important;

}

.dataRelease{
    color:white !important ;
    font-family:"Passion One",sans-serif;
    font-size: 120%	;

}

/* fix responsiveness for gametile and date release for iphone 6,7,8 */
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) 
and (orientation : portrait) {
    .gametitle{ font-size: 35% !important	;
 }
 .dataRelease{
    font-size: 30% !important;
}
}


h2{
    font-family:"Passion One",sans-serif;
    color: #7300e6 !important ;
    /* text-align: left !important ; */
    /* margin-left: 6% !important ; */
    margin-bottom: 2% !important ;





}

/* carosel style  */

.slick-slider{
    margin-right: 5% !important ;
    margin-left: 5% !important ;
}

.slick-prev {
    left: 1% !important;
    z-index: 1;
  }
  .slick-next {
    right: 2% !important;
    z-index: 1;
  }

  
  .slick-prev:before,
  .slick-next:before {
    color: yellow !important;
    font-size: 10%;
  }

  /* .slick-prev:before, .slick-next:before {
      font-size: 30px !important;
  
  } */
  
  
  

  /* //commentts */





