

body{
	font:14px/1.42857143 Cantarell,sans-serif;
	color:#fff;
	letter-spacing:normal;
	-webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background: black;
	/* background:#110311; */
	/* background:rgba(17,3,17,.9) */
}

h3{
	font-family:"Passion One",sans-serif;
	color:#fff
}


.fa{
	-webkit-transform:none;
	-ms-transform:none;
	-o-transform:none;
	transform:none
}


.about{
	margin-bottom:4.5rem
}
.about .feature{
	position:relative;
	padding:3rem;
	margin-bottom:3rem;
	text-align:center;
	text-decoration:none
}
.about .feature:hover{
	color:inherit
}
.about .feature i{
	font-size:5rem
}
.angled-bg{
	position:relative;
	display:block
}
.angled-bg>*{
	position:relative;
	z-index:2
}
.angled-bg:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,.1);
	-webkit-transform:skew(-4deg);
	-ms-transform:skew(-4deg);
	-o-transform:skew(-4deg);
	transform:skew(-4deg);
	z-index:0;

}
.angled-bg:hover:after{
	background:rgba(255,255,255,.13)
}

